$brand_primary: orange;
$brand_secondary: blue;
$brand_green: green;
$brand_lightgrey: lightgrey;
$brand-large-btn: 16px;

h1 {
 color: $brand_primary;
}

h2 {
 color: $brand_secondary;
}

h3 {
  color: $brand_secondary
}

button {
  color: $brand_green;
  background-color: $brand_primary;
  font-size: $brand-large-btn;
}

body {
  background-color: $brand_lightgrey;
}
